body{
    background-image: url("https://img.freepik.com/free-vector/neon-light-tunnel-black-background_107791-31057.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.card{
    margin: auto;
    width: 500px;
  margin-top: 200px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.339);
  border-radius: 12px;
  border: 1px solid rgba(232, 192, 192, 0.6);
}

.form-control {
    border: none;
    padding: 10px 15px;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    
}
.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff8a;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

.input-group-text {
    background-color: transparent;
    color: aliceblue;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


form .form-control::placeholder{
    text-align: center;
    font-weight: 500;
    color: aliceblue;
}

.card .card-header h1{
    text-decoration: underline;
}
